/* Defaults */

.btn-alta-red {
  border-radius: 0 !important;
  color: #fff !important;
  background-color: #ff4242;
}
.btn-alta-red:hover {
  background-color: #da1212;
}
.btn-alta-blue {
  border-radius: 0 !important;
  color: #fff !important;
  background-color: #0071bb;
}
.btn-alta-blue:hover {
  background-color: #014cbe;
}
.text-alta-blue {
  color: #0071bb;
}
.tile-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("../img/tiles.jpg");
}
.tile-img--current {
  width: 100%;
  height: 350px;
}
.tile-img--slide {
  width: 30%;
  height: 130px;
}
.link-alta-red {
  color: #ff4242;
  border-bottom: 1px dashed #ff4242;
}
.link-alta-red:hover {
  color: #da1212;
  text-decoration: none;
  border-bottom-style: solid;
}

/* Главная */
.main {
  min-height: 100vh;
}
.main--bg {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url("../img/main_bg.png");
}
.main__navbar {
  background-color: transparent !important;
}
.main__navbar .nav-link {
  color: #fff !important;
}
.main__logo {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.main__logo--img {
  background-image: url("../img/logo-svg.svg");
}
.main__contacts {
  color: #fff;
  font-size: 1.7rem;
}
.main__content-wrapper {
  height: 65vh;
}
.main__footer {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main__content-wrapper {
    margin-bottom: 3rem;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .main__navbar {
    margin-bottom: 3rem;
  }
  .main__content-wrapper {
    padding: 5rem 0;
    margin-bottom: 5rem;
  }
  .main__footer .d-flex {
    flex-flow: column;
    text-align: center;
  }
}

/* Стили магазина */
.shop {
}
.shop__navbar {
  background-color: #fff !important;
}
.shop__navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.shop__logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
}
.shop__logo--colorful {
  width: 150px;
  height: 75px;
  background-image: url("../img/logo-shop.svg");
  transition: all ease-in-out 0.3s;
}
.shop__navbar--fixed .shop__logo--colorful {
  width: 120px;
  height: 55px;
}
.shop__logo--white {
  width: 165px;
  height: 80px;
  background-image: url("../img/logo-svg.svg");
}
.shop__contacts {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
.shop__info {
  background-color: #373737;
  padding: 1.5rem 0;
  color: #fff;
}
.shop__rights {
  background-color: #252525;
  padding: 1rem 0;
}
.shop__icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}
.shop__icon--order {
  width: 65px;
  height: 75px;
  background-image: url("../img/time-order.svg");
}
.shop__icon--delivery {
  width: 75px;
  height: 70px;
  background-image: url("../img/delivery.svg");
}
.shop__icon--consult {
  width: 120px;
  height: 70px;
  background-image: url("../img/consult.svg");
}

.yandex-map--dotted {
  height: 100%;
  width: 100%;
  outline: 4px dashed #252525;
  min-height: 70vh;
}

/* Товар */

.products .product {
  display: inline-block;
  margin-right: 3rem;
}
.product__specs {
  font-size: 1.25rem;
}
.product__desc {
  font-size: 1.25rem;
}
.product__price {
  font-size: 1.1rem;
}

.similar-product__name a {
  font-size: 1.4rem;
}
.similar-product__price {
  font-size: 1.4rem;
}
@media (min-width: 0) and (max-width: 640px) {
  .products .product {
    display: block;
    width: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1240px) {
  .products .product {
    display: block;
    width: 40%;
  }
  .products .product:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media (min-width: 1366px) {
  .products .product {
    width: 25%;
  }
  .products .product:nth-child(3n) {
    margin-right: 0;
  }
}

/* Категории */
.categories {
  vertical-align: top;
}
.category {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.category__header a {
  color: #214998;
}
.subcategory a {
  color: #6c757d;
}
@media (min-width: 0) and (max-width: 640px) {
  .category {
    display: block;
    width: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1240px) {
  .category {
    display: block;
    width: 100%;
  }
  .category:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media (min-width: 1366px) {
  .category {
    width: 33%;
  }
  .category:nth-child(3n) {
    margin-right: 0;
  }
}

/* Media */

@media (min-width: 0) and (max-width: 1024px) {
  .d-xs-none {
    display: none !important;
  }
  .flex-xs-col {
    flex-flow: column;
  }
  .flex-xs-col div[class^="col"] {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-bottom: 2rem;
    text-align: center;
  }
  .d-xs-center {
    margin-left: auto;
    margin-right: auto;
  }
  .d-xs-block {
    display: block;
  }
  .d-xs-flex {
    display: flex;
  }
  .p-xs-0 {
    padding: 0 !important;
  }
  .m-xs-0 {
    margin: 0 !important;
  }
  .w-xs-100 {
    width: 100% !important;
  }
}
