/* Defaults */

.btn-alta-red {
  border-radius: 0 !important;
  color: #fff!important;
  background-color: #ff4242;
}
.btn-alta-red:hover {
  background-color: #da1212;
}

/* Главная */
.main {
  min-height: 100vh;
}
.main--bg {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url("../img/main_bg.png");
}
.main__navbar {
  background-color: transparent !important;
}
.main__navbar .nav-link {
  color: #fff !important;
}
.main__logo {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.main__logo--img {
  background-image: url("../img/logo-svg.svg");
}
.main__contacts {
  color: #fff;
  font-size: 1.7rem;
}
.main__content-wrapper {
  height: 65vh;
}
.main__footer {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main__content-wrapper {
    margin-bottom: 3rem;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .main__navbar {
    margin-bottom: 3rem;
  }
  .main__content-wrapper {
    padding: 5rem 0;
    margin-bottom: 5rem;
  }
  .main__footer .d-flex {
    flex-flow: column;
    text-align: center;
  }
}

/* Стили магазина */
.shop {
}
.shop__navbar {
  background-color: #fff !important;
}
.shop__logo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
}
.shop__logo--colorful {
  width: 150px;
  height: 75px;
  background-image: url("../img/logo-shop.svg");
}
.shop__logo--white {
  width: 165px;
  height: 80px;
  background-image: url("../img/logo-svg.svg");
}
.shop__contacts {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
.shop__info {
  background-color: #373737;
  padding: 1.5rem 0;
  color: #fff;
}
.shop__rights {
  background-color: #252525;
  padding: 1rem 0;
}

/* Категории */
.categories {
  vertical-align: top;
}
.category {
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.category__header a {
  color: #214998;
}
.subcategory a {
  color: #6c757d;
}
@media (min-width: 0) and (max-width: 640px) {
  .category {
    display: block;
  }
}
@media (min-width: 640px) and (max-width: 1240px) {
  .category:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media (min-width: 1366px) {
  .category:nth-child(3n) {
    margin-right: 0;
  }
}

/* Media */

@media (min-width: 0) and (max-width: 1024px) {
  .d-xs-none {
    display: none;
  }
  .flex-xs-col {
    flex-flow: column;
  }
  .flex-xs-col div[class^="col"] {
    flex: 0 0 100%!important;
    max-width: 100%!important;
    padding-bottom: 2rem;
    text-align: center;
  }
  .d-xs-center {
    margin-left: auto;
    margin-right: auto;
  }
}
